<!-- <div class="header-bar">
  <p>this project all image are from unsplash api.</p>
</div> -->
<header class="my-container">
  <div class="flex items-center logo-section gap-3">
    <a href="/">
      <span class="sr-only">logo</span>
      <svg
        width="32"
        height="32"
        viewBox="0 0 200 200"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_238_1230)">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M100 50C100 22.3858 77.6142 5.5782e-06 50 0C50 27.6102 72.3792 49.9935 99.9879 50C72.3792 50.0065 50 72.3898 50 100C50 72.3858 27.6142 50 0 50C2.18557e-06 77.6142 22.3858 100 50 100C22.3858 100 6.55671e-06 122.386 2.18557e-06 150C27.6096 150 49.9925 127.622 50 100.014C50.0075 127.622 72.3904 150 100 150C72.3858 150 50 172.386 50 200C77.6142 200 100 177.614 100 150C127.614 150 150 127.614 150 100C150 127.614 172.386 150 200 150C200 122.386 177.614 100 150 100C150 72.3858 127.614 50 100 50ZM150 2.18557e-06C122.386 2.18557e-06 100 22.3858 100 50C127.614 50 150 27.6142 150 2.18557e-06ZM150 200C122.386 200 100 177.614 100 150C127.614 150 150 172.386 150 200ZM200 50C200 77.6142 177.614 100 150 100C150 72.3858 172.386 50 200 50Z"
            fill="url(#paint0_linear_238_1230)"></path>
        </g>
        <defs>
          <linearGradient
            id="paint0_linear_238_1230"
            x1="100"
            y1="0"
            x2="100"
            y2="200"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#DF99F7"></stop>
            <stop offset="1" stop-color="#FFDBB0"></stop>
          </linearGradient>
          <clipPath id="clip0_238_1230">
            <rect width="200" height="200" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <span>/</span>
    <a href="/">info@jeetkasundra.com</a>
  </div>
  <div class="flex items-center gap-3">
    <a href="/" class="header-btn">Conatct Me</a>
  </div>
</header>

<style>
  header {
    @apply flex items-center justify-between w-full gap-2 py-3;
  }

  .logo-section span {
    @apply text-lg;
  }

  .logo-section a {
    @apply text-base;
  }

  .header-btn {
    @apply bg-black text-white rounded-md py-2.5 px-3.5 capitalize;
  }

  .header-bar {
    @apply border-b border-solid border-black w-full py-1.5 text-center;
  }

  .header-bar p {
    @apply uppercase;
  }
</style>
