---
import Layout from "../layouts/Layout.astro";
import { fetchUnsplashPhotos } from "./api/index";

let query = Astro.url.searchParams.get("query") || "";
const response = await fetchUnsplashPhotos(query);
const photos = response.results;
---

<Layout>
  <section class="my-container py-24 space-y-14">
    <div class="space-y-7">
      <h1>Unsplash API Image Collection</h1>
      <h2>Project by - Kasundra Jeet</h2>
    </div>

    <div class="space-y-4">
      <form class="from-control" method="GET" action="/">
        <div class="from-input">
          <input
            type="text"
            name="query"
            placeholder="Search Something"
            value={query}
          />
        </div>
        <button type="submit">Search</button>
      </form>

      <ul class="flex items-center justify-center gap-1">
        <li><p class="font-bold mr-1">Popular:</p></li>
        <li><a href="/?query=neutral" class="popular-link">Neutral,</a></li>
        <li>
          <a href="/?query=motivational" class="popular-link">Motivational,</a>
        </li>
        <li><a href="/?query=dark" class="popular-link">Dark</a></li>
      </ul>
    </div>
  </section>

  <section class="my-container py-6">
    {
      photos.length > 0 ? (
        <ul class="image-grid">
          {photos.map((photo) => (
            <li class="grid-item">
              <img src={photo.urls.small} alt={photo.alt_description} />
            </li>
          ))}
        </ul>
      ) : (
        <p class="text-center text-base">
          No results found for <span class="font-bold">"{query}"</span>.
        </p>
      )
    }
  </section>
</Layout>

<script>
  import Masonry from "masonry-layout";
  document.addEventListener("DOMContentLoaded", function () {
    var elem = document.querySelector(".image-grid");
    if (elem) {
      var msnry = new Masonry(elem, {
        itemSelector: ".grid-item",
        columnWidth: ".grid-item",
        percentPosition: true,
      });
    }
  });
</script>

<style>
  h1 {
    font-family: "Source Serif 4", serif;
    @apply text-center capitalize text-7xl font-bold;
  }
  h2 {
    @apply text-center capitalize text-xl;
  }

  .from-control {
    @apply w-full max-w-lg mx-auto flex items-stretch gap-2.5;
  }

  .from-control button {
    @apply bg-black text-white rounded-lg py-2.5 px-4;
  }

  .from-input {
    @apply border border-solid border-gray-400 w-full rounded-lg;
  }

  .from-input input {
    @apply w-full h-full rounded-xl px-3 py-1;
  }

  .popular-link {
    @apply underline capitalize;
  }

  .image-grid {
    @apply grid grid-cols-3 gap-4;
  }
</style>
