---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { fetchUnsplashPhotos } from "./api/index";

let query = Astro.url.searchParams.get("query") || "";
let page = 1;
const response = await fetchUnsplashPhotos(
  query ? query : null,
  page ? page : 1
);
const photos = query ? response.results : response;
---

<Layout>
  <section class="my-container py-24 space-y-14">
    <div class="space-y-7">
      <h1>Unsplash API Image Collection</h1>
      <h2>Project by - Kasundra Jeet</h2>
    </div>

    <div class="space-y-4">
      <form class="from-control" method="GET" action="/">
        <div class="from-input">
          <input
            type="text"
            name="query"
            placeholder="Search Something"
            value={query}
          />
        </div>
        <button type="submit">Search</button>
      </form>

      <ul class="flex items-center justify-center gap-1">
        <li><p class="font-bold mr-1">Popular:</p></li>
        <li><a href="/?query=neutral" class="popular-link">Neutral,</a></li>
        <li>
          <a href="/?query=motivational" class="popular-link">Motivational,</a>
        </li>
        <li><a href="/?query=dark" class="popular-link">Dark</a></li>
      </ul>
    </div>
  </section>

  <section class="my-container py-6">
    {
      photos && photos.length > 0 ? (
        <ul class="image-grid">
          <li class="grid-sizer" />
          {photos.map((photo) => (
            <li class="grid-item">
              <Image
                src={photo.urls.regular}
                alt={photo.alt_description}
                inferSize={true}
              />
            </li>
          ))}
        </ul>
        <div class="flex items-center justify-center py-8">
        <button class="loader--btn">Show More..</button>
        </div>
      ) : (
        <p class="text-center text-base">
          No results found for{" "}
          <span class="font-bold">"{query || "nothing"}"</span>.
        </p>
      )
    }
  </section>
</Layout>

<script>
  import imagesLoaded from "imagesloaded";
  import Masonry from "masonry-layout";
  document.addEventListener("DOMContentLoaded", function () {
    const elem = document.querySelector(".image-grid");
    const imgLoad = imagesLoaded(elem);

    imgLoad.on("progress", function () {
      if (elem) {
        new Masonry(elem, {
          itemSelector: ".grid-item",
          columnWidth: ".grid-sizer",
          percentPosition: true,
        });
      }
    });
  });
</script>

<style>
  h1 {
    font-family: "Source Serif 4", serif;
    @apply text-center capitalize text-7xl font-bold;
  }
  h2 {
    @apply text-center capitalize text-xl;
  }

  .from-control {
    @apply w-full max-w-lg mx-auto flex items-stretch gap-2.5;
  }

  .from-control button {
    @apply bg-black text-white rounded-lg py-2.5 px-4;
  }

  .from-input {
    @apply border border-solid border-gray-400 w-full rounded-lg;
  }

  .from-input input {
    @apply w-full h-full rounded-xl px-3 py-1;
  }

  .popular-link {
    @apply underline capitalize;
  }

  .image-grid {
    @apply relative;
  }

  .grid-sizer,
  .grid-item {
    @apply w-1/3 p-2 relative;
  }

  .grid-item img {
    @apply w-full h-full object-cover;
  }

  .loader--btn{
    @apply mx-auto text-center rounded-lg bg-gray-100 w-fit text-base py-2 capitalize border border-solid border-gray-200 px-4
  }
</style>
