---
import Layout from "../layouts/Layout.astro";
import { fetchUnsplashPhotos } from "./api/index";

let photos = [];
let query = "nature";


async function fetchDefaultPhotos() {
  photos = await fetchUnsplashPhotos(query);
}


fetchDefaultPhotos();


async function handleSubmit(event) {
  event.preventDefault();
  query = event.target.elements.query.value;
  photos = await fetchUnsplashPhotos(query);
}
---

<Layout>
  <section class="my-container py-24 space-y-14">
    <div class="space-y-7">
      <h1>unsplash api image collection</h1>
      <h2>Project by - kasundra jeet</h2>
    </div>
    <div class="space-y-4">
      <form class="from-control" on:submit={handleSubmit}>
        <div class="from-input">
          <input type="text" name="query" placeholder="Search Something" />
        </div>
        <button type="submit">Search</button>
      </form>
      <ul class="flex items-center justify-center gap-1">
        <li>
          <p class="font-bold mr-1">Popular:</p>
        </li>
        <li>
          <a href="/" class="popular-link">neutral,</a>
        </li>
        <li>
          <a href="/" class="popular-link">motivational,</a>
        </li>
        <li>
          <a href="/" class="popular-link">Dark</a>
        </li>
      </ul>
    </div>
  </section>
  {
    photos.length > 0 && (
      <section class="my-container py-6">
        <ul class="image-grid">
          {photos.map((photo) => (
            <li class="grid-item">
              <img src={photo.urls.small} alt={photo.alt_description} />
            </li>
          ))}
        </ul>
      </section>
    )
  }
</Layout>

<script>
  import Masonry from "masonry-layout";
  document.addEventListener("DOMContentLoaded", function () {
    var elem = document.querySelector(".image-grid");
    var msnry = new Masonry(elem, {
      itemSelector: ".grid-item",
      columnWidth: ".grid-item",
      percentPosition: true,
    });
  });
</script>

<style>
  h1 {
    font-family: "Source Serif 4", serif;
    @apply text-center capitalize text-7xl font-bold;
  }
  h2 {
    @apply text-center capitalize text-xl;
  }

  .from-control {
    @apply w-full max-w-lg mx-auto flex items-stretch gap-2.5;
  }

  .from-control button {
    @apply bg-black text-white rounded-lg py-2.5 px-4;
  }

  .from-input {
    @apply border border-solid border-gray-400 w-full rounded-lg;
  }

  .from-input input {
    @apply w-full h-full rounded-xl px-3 py-1;
  }

  .popular-link {
    @apply underline capitalize;
  }

  .image-grid {
    @apply grid grid-cols-3;
  }
</style>
