---
import "@fontsource/source-serif-4";
import "@fontsource/poppins";
import "../styles/style.css";
import Header from "../components/layout/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="robots" content="noindex">
    <meta name="generator" content={Astro.generator} />
    <title>Unsplash API by Jeet Kasundra</title>
    <meta
      name="description"
      content="A project showcasing the Unsplash API by Jeet Kasundra."
    />

    <meta property="og:title" content="Unsplash API by Jeet Kasundra" />
    <meta
      property="og:description"
      content="A project showcasing the Unsplash API by Jeet Kasundra."
    />
    <meta property="og:image" content="" />
    <meta property="og:url" content="https://yourwebsite.com" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Unsplash API by Jeet Kasundra" />
    <meta
      name="twitter:description"
      content="A project showcasing the Unsplash API by Jeet Kasundra."
    />
    <meta name="twitter:image" content="" />
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>
